.Header {
  background-color: #444;
  height: 50px;
  padding: 5px 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Header-title {
  font-size: 1.5em;
}

.Header-link {
  color: white;
  text-decoration: none;
  padding: 5px;
}

.Header-link:not(:last-child) {
  margin-right: 10px;
}

.Header-link-active {
  border-bottom: #eeeeee solid 2px;
}
