<html>
<head>
  <title>Introduction</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
  <div class="nav-bar"></div>
  <div id="app">
    <div class="product-image">
      <a :href="link">
        <img
          :src="image"
          :alt="altText"
        >
      </a>
    </div>

    <div class="product-info">
      <h1>{{ product }}</h1>
      <ul>
        <li v-for="detail of details">{{ detail }}</li>
      </ul>

      <div v-for="variant of variants" :key="variant.variantId">
        {{ variant.variantColor }}
      </div>
    </div>
  </div>

  <script src="https://unpkg.com/vue"></script>
  <script src="main.js"></script>
</body>
</html>
