{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
        },
        "useBuiltIns": 'usage'
      }
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-proposal-pipeline-operator",
      {
        proposal: "minimal"
      }
    ]
  ]
}
