.navigation {
  position: relative;

  &__checkbox {
    display: none;
  }

  &__button {

  }

  &__background {

  }

  &__nav {

  }

  &__list {
    list-style: none;
  }

  &__item {

  }

  &__link {

  }
}
